@model sinavUygulamasi.Models.TarihceModel

@{
    ViewBag.Title = "Tarihce";
    Layout = "~/Views/Shader/_Layout.cshtml";
}

<main>



    <div class="tm-container-inner tm-history">
        <div class="row">
            @foreach (var item in Model.tList)
            {
                <div class="col-12">
                    <div class="tm-history-inner">
                        <img src="~/Content/img/@item.tarihce_resim" alt="Image" class="img-fluid tm-history-img" />
                        <div class="tm-history-text">
                            <h4 class="tm-history-title">@item.tarihce_baslik</h4>
                            <p class="tm-mb-p">@item.tarihce_aciklama</p>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="tm-container-inner tm-featured-image">
        <div class="row">
            <div class="col-12">
                <div class="placeholder-2">
                    <div class="parallax-window-2" data-parallax="scroll" data-image-src="/Content/img/about-05.jpg"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="tm-container-inner tm-features">
        <div class="row">
            @foreach (var item in Model.oList)
            {
                <div class="col-lg-4">
                    <div class="tm-feature">
                        <i class="fas fa-4x @item.ozellikler_icon tm-feature-icon"></i>
                        <p class="tm-feature-description">@item.ozellikler_aciklama</p>
                        <a href="index.html" class="@item.ozellikler_butonrenk">Daha Fazla</a>
                    </div>
                </div>

            }

        </div>
    </div>

</main>

